<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12">
      <h1>作物一覧</h1>
    </div>
  </div>

  <div class="row mx-5">
    <div class="col-12 d-flex">
      <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
        <%= %>
        <%= f.label :item_name %><br>
        <%= f.text_field :item_name, class: "form-control" %><br>
        <%= f.label :item_text %><br>
        <%=# f.text_area :item_text %><br>
        <%= f.label :item_amount %><br>
        <%=# f.text_area :item_amount %><br>
        <%= f.submit "追加", class: "btn btn-success btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>